examples/Dasboard Homekit.json
[
  {
    "id": "536c551b.920b6c",
    "type": "miio-humidifier-input",
    "z": "a3b1c01f.659bb",
    "name": "",
    "server": "78040c8.acc89f4",
    "outputAtStartup": true,
    "for_homekit": true,
    "x": 400,
    "y": 240,
    "wires": [
      [
        "85df4aef.ce84a8",
        "e0830568.fdf298",
        "a5cb9666.1f5558",
        "b512ba71.bf7ee8",
        "13026079.d70ab",
        "5d6d4340.2d9c5c",
        "b4b64083.f85b1",
        "46eba54d.82738c",
        "16d2d6a9.5b63d9",
        "3d213c40.f28894",
        "f1ea8113.0eeca",
        "df01748b.271ae8",
        "2d37c5cf.a51a4a"
      ]
    ]
  },
  {
    "id": "e0830568.fdf298",
    "type": "homekit-service",
    "z": "a3b1c01f.659bb",
    "isParent": true,
    "bridge": "80c270f3.b5484",
    "accessoryCategory": "AIR_HUMIDIFIER",
    "parentService": "",
    "name": "Humiditifier",
    "serviceName": "HumidifierDehumidifier",
    "topic": "",
    "filter": false,
    "manufacturer": "Default Manufacturer",
    "model": "Default Model",
    "serialNo": "Default Serial Number",
    "cameraConfigVideoProcessor": "ffmpeg",
    "cameraConfigSource": "",
    "cameraConfigStillImageSource": "",
    "cameraConfigMaxStreams": 2,
    "cameraConfigMaxWidth": 1280,
    "cameraConfigMaxHeight": 720,
    "cameraConfigMaxFPS": 10,
    "cameraConfigMaxBitrate": 300,
    "cameraConfigVideoCodec": "libx264",
    "cameraConfigAudioCodec": "libfdk_aac",
    "cameraConfigAudio": false,
    "cameraConfigPacketSize": 1316,
    "cameraConfigVerticalFlip": false,
    "cameraConfigHorizontalFlip": false,
    "cameraConfigMapVideo": "0:0",
    "cameraConfigMapAudio": "0:1",
    "cameraConfigVideoFilter": "scale=1280:720",
    "cameraConfigAdditionalCommandLine": "-tune zerolatency",
    "cameraConfigDebug": false,
    "cameraConfigSnapshotOutput": "disabled",
    "characteristicProperties": "{\n\t\"Active\": {},\n\t\"CurrentRelativeHumidity\" : {},\n\t\"WaterLevel\": {},\n\t\"LockPhysicalControls\": {},\n\t\"SwingMode\": {},\n    \"CurrentHumidifierDehumidifierState\": {\n        \"validValues\": [0, 2]\n    },\n    \"TargetHumidifierDehumidifierState\": {\n        \"validValues\": [1]\n    }, \n    \"RelativeHumidityHumidifierThreshold\": {\n    \t\"minValue\": 0,\n        \"maxValue\": 100,\n        \"minStep\": 10\n    },\n    \"RotationSpeed\": {\n        \"minValue\": 0,\n         \"maxValue\": 100,\n         \"minStep\": 25\n    }\n}",
    "x": 770,
    "y": 240,
    "wires": [
      [
        "373b5cba.078434"
      ],
      []
    ]
  },
  {
    "id": "12f60743.1f27e9",
    "type": "homekit-service",
    "z": "a3b1c01f.659bb",
    "isParent": true,
    "bridge": "80c270f3.b5484",
    "accessoryCategory": "SENSOR",
    "parentService": "",
    "name": "Temperature",
    "serviceName": "TemperatureSensor",
    "topic": "",
    "filter": false,
    "manufacturer": "Default Manufacturer",
    "model": "Default Model",
    "serialNo": "Default Serial Number",
    "cameraConfigVideoProcessor": "ffmpeg",
    "cameraConfigSource": "",
    "cameraConfigStillImageSource": "",
    "cameraConfigMaxStreams": 2,
    "cameraConfigMaxWidth": 1280,
    "cameraConfigMaxHeight": 720,
    "cameraConfigMaxFPS": 10,
    "cameraConfigMaxBitrate": 300,
    "cameraConfigVideoCodec": "libx264",
    "cameraConfigAudioCodec": "libfdk_aac",
    "cameraConfigAudio": false,
    "cameraConfigPacketSize": 1316,
    "cameraConfigVerticalFlip": false,
    "cameraConfigHorizontalFlip": false,
    "cameraConfigMapVideo": "0:0",
    "cameraConfigMapAudio": "0:1",
    "cameraConfigVideoFilter": "scale=1280:720",
    "cameraConfigAdditionalCommandLine": "-tune zerolatency",
    "cameraConfigDebug": false,
    "cameraConfigSnapshotOutput": "disabled",
    "characteristicProperties": "{}",
    "x": 770,
    "y": 300,
    "wires": [
      [],
      []
    ]
  },
  {
    "id": "85df4aef.ce84a8",
    "type": "function",
    "z": "a3b1c01f.659bb",
    "name": "",
    "func": "var msgNew = {};\nmsgNew.payload = {\"CurrentTemperature\":(msg.status.temp_dec)/10};\nreturn msgNew;",
    "outputs": 1,
    "noerr": 0,
    "x": 655,
    "y": 300,
    "wires": [
      [
        "12f60743.1f27e9"
      ]
    ],
    "l": false
  },
  {
    "id": "a5cb9666.1f5558",
    "type": "debug",
    "z": "a3b1c01f.659bb",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "x": 750,
    "y": 120,
    "wires": []
  },
  {
    "id": "e143f582.cd2e58",
    "type": "ui_text",
    "z": "a3b1c01f.659bb",
    "group": "569fc258.a9b43c",
    "order": 7,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Temperature",
    "format": "{{msg.payload}} °C",
    "layout": "row-spread",
    "x": 790,
    "y": 520,
    "wires": []
  },
  {
    "id": "197d70bc.d0e4cf",
    "type": "ui_text",
    "z": "a3b1c01f.659bb",
    "group": "569fc258.a9b43c",
    "order": 5,
    "width": "2",
    "height": "1",
    "name": "Humidity (value)",
    "label": "",
    "format": "{{msg.payload}} %",
    "layout": "row-spread",
    "x": 800,
    "y": 580,
    "wires": []
  },
  {
    "id": "6aa55725.ccb6a8",
    "type": "ui_numeric",
    "z": "a3b1c01f.659bb",
    "name": "Limit humidity",
    "label": "",
    "tooltip": "Limit humidity",
    "group": "569fc258.a9b43c",
    "order": 4,
    "width": "3",
    "height": "1",
    "wrap": false,
    "passthru": false,
    "topic": "",
    "format": "{{value}} %",
    "min": "40",
    "max": "80",
    "step": "1",
    "x": 800,
    "y": 640,
    "wires": [
      [
        "a80df1b8.03d1c"
      ]
    ]
  },
  {
    "id": "a80df1b8.03d1c",
    "type": "switch",
    "z": "a3b1c01f.659bb",
    "name": "",
    "property": "socketid",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 955,
    "y": 640,
    "wires": [
      [
        "177bba93.115c85"
      ]
    ],
    "l": false
  },
  {
    "id": "5d6d4340.2d9c5c",
    "type": "function",
    "z": "a3b1c01f.659bb",
    "name": "",
    "func": "var msgNew = {};\nmsgNew.payload = (msg.status.temp_dec/10).toFixed(1);\n\nnode.status({fill:\"grey\",shape:\"dot\",text:msgNew.payload+'℃'});\n\nreturn msgNew;",
    "outputs": 1,
    "noerr": 0,
    "x": 655,
    "y": 520,
    "wires": [
      [
        "e143f582.cd2e58"
      ]
    ],
    "l": false
  },
  {
    "id": "b4b64083.f85b1",
    "type": "function",
    "z": "a3b1c01f.659bb",
    "name": "",
    "func": "var msgNew = {};\nmsgNew.payload = msg.status.humidity;\n\nnode.status({fill:\"grey\",shape:\"dot\",text:msgNew.payload +'%'});\nreturn msgNew;",
    "outputs": 1,
    "noerr": 0,
    "x": 655,
    "y": 580,
    "wires": [
      [
        "197d70bc.d0e4cf"
      ]
    ],
    "l": false
  },
  {
    "id": "f65dac3f.1758d",
    "type": "ui_text",
    "z": "a3b1c01f.659bb",
    "group": "569fc258.a9b43c",
    "order": 6,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Water Level",
    "format": "{{msg.payload}} %",
    "layout": "row-spread",
    "x": 790,
    "y": 700,
    "wires": []
  },
  {
    "id": "16d2d6a9.5b63d9",
    "type": "function",
    "z": "a3b1c01f.659bb",
    "name": "",
    "func": "var msgNew = {};\nmsgNew.payload = Math.round(msg.status.depth/1.2);\nnode.status({fill:\"grey\",shape:\"dot\",text:msgNew.payload +'%'});\nreturn msgNew;",
    "outputs": 1,
    "noerr": 0,
    "x": 655,
    "y": 700,
    "wires": [
      [
        "f65dac3f.1758d"
      ]
    ],
    "l": false
  },
  {
    "id": "46eba54d.82738c",
    "type": "function",
    "z": "a3b1c01f.659bb",
    "name": "",
    "func": "var msgNew = {};\nmsgNew.payload = msg.status.limit_hum;\nnode.status({fill:\"grey\",shape:\"dot\",text:msgNew.payload +'%'});\nreturn msgNew;",
    "outputs": 1,
    "noerr": 0,
    "x": 655,
    "y": 640,
    "wires": [
      [
        "6aa55725.ccb6a8"
      ]
    ],
    "l": false
  },
  {
    "id": "a73f61ee.6534a",
    "type": "ui_text",
    "z": "a3b1c01f.659bb",
    "group": "569fc258.a9b43c",
    "order": 3,
    "width": "3",
    "height": "1",
    "name": "",
    "label": "Humidity",
    "format": "",
    "layout": "row-spread",
    "x": 980,
    "y": 580,
    "wires": []
  },
  {
    "id": "2a97d597.5c2c0a",
    "type": "ui_switch",
    "z": "a3b1c01f.659bb",
    "name": "",
    "label": "Power",
    "tooltip": "",
    "group": "569fc258.a9b43c",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 770,
    "y": 400,
    "wires": [
      [
        "2bb902bd.5cc2ce"
      ]
    ]
  },
  {
    "id": "b512ba71.bf7ee8",
    "type": "function",
    "z": "a3b1c01f.659bb",
    "name": "",
    "func": "var msgNew = {};\nmsgNew.payload = msg.status.power=='on'?true:false;\n\nnode.status({fill:\"grey\",shape:\"dot\",text:msgNew.payload?'on':'off'});\n\nreturn msgNew;",
    "outputs": 1,
    "noerr": 0,
    "x": 655,
    "y": 400,
    "wires": [
      [
        "2a97d597.5c2c0a"
      ]
    ],
    "l": false
  },
  {
    "id": "a8245c6f.9ad46",
    "type": "ui_switch",
    "z": "a3b1c01f.659bb",
    "name": "",
    "label": "Child Lock",
    "tooltip": "",
    "group": "569fc258.a9b43c",
    "order": 8,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 790,
    "y": 760,
    "wires": [
      [
        "a4cc67ce.3c0dc8"
      ]
    ]
  },
  {
    "id": "3d213c40.f28894",
    "type": "function",
    "z": "a3b1c01f.659bb",
    "name": "",
    "func": "var msgNew = {};\nmsgNew.payload = msg.status.child_lock=='on'?true:false;\n\nnode.status({fill:\"grey\",shape:\"dot\",text:msgNew.payload?'on':'off'});\n\nreturn msgNew;",
    "outputs": 1,
    "noerr": 0,
    "x": 655,
    "y": 760,
    "wires": [
      [
        "a8245c6f.9ad46"
      ]
    ],
    "l": false
  },
  {
    "id": "12564d0f.947903",
    "type": "ui_dropdown",
    "z": "a3b1c01f.659bb",
    "name": "",
    "label": "Mode",
    "tooltip": "",
    "place": "--",
    "group": "569fc258.a9b43c",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "options": [
      {
        "label": "Auto",
        "value": "auto",
        "type": "str"
      },
      {
        "label": "Минимум",
        "value": "silent",
        "type": "str"
      },
      {
        "label": "Средний",
        "value": "medium",
        "type": "str"
      },
      {
        "label": "Максимум",
        "value": "high",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "",
    "x": 770,
    "y": 460,
    "wires": [
      [
        "7e717645.742958"
      ]
    ]
  },
  {
    "id": "13026079.d70ab",
    "type": "function",
    "z": "a3b1c01f.659bb",
    "name": "",
    "func": "var msgNew = {};\nmsgNew.payload = msg.status.mode;\n\nnode.status({fill:\"grey\",shape:\"dot\",text:msgNew.payload});\n\nreturn msgNew;",
    "outputs": 1,
    "noerr": 0,
    "x": 655,
    "y": 460,
    "wires": [
      [
        "12564d0f.947903"
      ]
    ],
    "l": false
  },
  {
    "id": "6b68b6d5.0dcd58",
    "type": "ui_switch",
    "z": "a3b1c01f.659bb",
    "name": "",
    "label": "Sound",
    "tooltip": "",
    "group": "569fc258.a9b43c",
    "order": 9,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 770,
    "y": 820,
    "wires": [
      [
        "578466dd.9300d8"
      ]
    ]
  },
  {
    "id": "f1ea8113.0eeca",
    "type": "function",
    "z": "a3b1c01f.659bb",
    "name": "",
    "func": "var msgNew = {};\nmsgNew.payload = msg.status.buzzer=='on'?true:false;\n\nnode.status({fill:\"grey\",shape:\"dot\",text:msgNew.payload?'on':'off'});\n\nreturn msgNew;",
    "outputs": 1,
    "noerr": 0,
    "x": 655,
    "y": 820,
    "wires": [
      [
        "6b68b6d5.0dcd58"
      ]
    ],
    "l": false
  },
  {
    "id": "df01748b.271ae8",
    "type": "function",
    "z": "a3b1c01f.659bb",
    "name": "",
    "func": "var msgNew = {};\nmsgNew.payload = parseInt(msg.status.led_b);\n\nnode.status({fill:\"grey\",shape:\"dot\",text:msgNew.payload});\n\nreturn msgNew;",
    "outputs": 1,
    "noerr": 0,
    "x": 655,
    "y": 880,
    "wires": [
      [
        "9d3d5f68.103e1"
      ]
    ],
    "l": false
  },
  {
    "id": "9d3d5f68.103e1",
    "type": "ui_dropdown",
    "z": "a3b1c01f.659bb",
    "name": "",
    "label": "Led Brightness",
    "tooltip": "",
    "place": "--",
    "group": "569fc258.a9b43c",
    "order": 10,
    "width": 0,
    "height": 0,
    "passthru": true,
    "options": [
      {
        "label": "Макс",
        "value": 0,
        "type": "num"
      },
      {
        "label": "Средний",
        "value": 1,
        "type": "num"
      },
      {
        "label": "Выкл",
        "value": 2,
        "type": "num"
      }
    ],
    "payload": "",
    "topic": "",
    "x": 800,
    "y": 880,
    "wires": [
      [
        "b8c73f2.7c8a2c"
      ]
    ]
  },
  {
    "id": "a4cc67ce.3c0dc8",
    "type": "switch",
    "z": "a3b1c01f.659bb",
    "name": "",
    "property": "socketid",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 935,
    "y": 760,
    "wires": [
      [
        "bb400392.f07eb"
      ]
    ],
    "l": false
  },
  {
    "id": "578466dd.9300d8",
    "type": "switch",
    "z": "a3b1c01f.659bb",
    "name": "",
    "property": "socketid",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 855,
    "y": 820,
    "wires": [
      [
        "74d32998.e2ca98"
      ]
    ],
    "l": false
  },
  {
    "id": "b8c73f2.7c8a2c",
    "type": "switch",
    "z": "a3b1c01f.659bb",
    "name": "",
    "property": "socketid",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 915,
    "y": 880,
    "wires": [
      [
        "bd8dacc1.b33c9"
      ]
    ],
    "l": false
  },
  {
    "id": "7e717645.742958",
    "type": "switch",
    "z": "a3b1c01f.659bb",
    "name": "",
    "property": "socketid",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 875,
    "y": 460,
    "wires": [
      [
        "ff94d87c.da38c8"
      ]
    ],
    "l": false
  },
  {
    "id": "2bb902bd.5cc2ce",
    "type": "switch",
    "z": "a3b1c01f.659bb",
    "name": "",
    "property": "socketid",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 875,
    "y": 400,
    "wires": [
      [
        "3b8b8bf.4063f74"
      ]
    ],
    "l": false
  },
  {
    "id": "e1e78b68.7dc368",
    "type": "ui_switch",
    "z": "a3b1c01f.659bb",
    "name": "",
    "label": "Dry",
    "tooltip": "",
    "group": "569fc258.a9b43c",
    "order": 11,
    "width": 0,
    "height": 0,
    "passthru": true,
    "decouple": "false",
    "topic": "",
    "style": "",
    "onvalue": "true",
    "onvalueType": "bool",
    "onicon": "",
    "oncolor": "",
    "offvalue": "false",
    "offvalueType": "bool",
    "officon": "",
    "offcolor": "",
    "x": 770,
    "y": 940,
    "wires": [
      [
        "71ad5d7b.893e14"
      ]
    ]
  },
  {
    "id": "2d37c5cf.a51a4a",
    "type": "function",
    "z": "a3b1c01f.659bb",
    "name": "",
    "func": "var msgNew = {};\nmsgNew.payload = msg.status.dry=='on'?true:false;\n\nnode.status({fill:\"grey\",shape:\"dot\",text:msgNew.payload?'on':'off'});\n\nreturn msgNew;",
    "outputs": 1,
    "noerr": 0,
    "x": 655,
    "y": 940,
    "wires": [
      [
        "e1e78b68.7dc368"
      ]
    ],
    "l": false
  },
  {
    "id": "71ad5d7b.893e14",
    "type": "switch",
    "z": "a3b1c01f.659bb",
    "name": "",
    "property": "socketid",
    "propertyType": "msg",
    "rules": [
      {
        "t": "nnull"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 855,
    "y": 940,
    "wires": [
      [
        "a9e68ecd.419f9"
      ]
    ],
    "l": false
  },
  {
    "id": "3b8b8bf.4063f74",
    "type": "miio-humidifier-output",
    "z": "a3b1c01f.659bb",
    "name": "",
    "server": "78040c8.acc89f4",
    "command_name": "Power",
    "command": "set_power",
    "commandType": "miio_cmd",
    "payload": "payload",
    "payloadType": "msg",
    "x": 1170,
    "y": 400,
    "wires": []
  },
  {
    "id": "bb400392.f07eb",
    "type": "miio-humidifier-output",
    "z": "a3b1c01f.659bb",
    "name": "",
    "server": "78040c8.acc89f4",
    "command_name": "Child Lock",
    "command": "set_child_lock",
    "commandType": "miio_cmd",
    "payload": "payload",
    "payloadType": "msg",
    "x": 1190,
    "y": 760,
    "wires": []
  },
  {
    "id": "74d32998.e2ca98",
    "type": "miio-humidifier-output",
    "z": "a3b1c01f.659bb",
    "name": "",
    "server": "78040c8.acc89f4",
    "command_name": "Sound",
    "command": "set_buzzer",
    "commandType": "miio_cmd",
    "payload": "payload",
    "payloadType": "msg",
    "x": 1170,
    "y": 820,
    "wires": []
  },
  {
    "id": "a9e68ecd.419f9",
    "type": "miio-humidifier-output",
    "z": "a3b1c01f.659bb",
    "name": "",
    "server": "78040c8.acc89f4",
    "command_name": "Dry",
    "command": "set_dry",
    "commandType": "miio_cmd",
    "payload": "payload",
    "payloadType": "msg",
    "x": 1170,
    "y": 940,
    "wires": []
  },
  {
    "id": "bd8dacc1.b33c9",
    "type": "miio-humidifier-output",
    "z": "a3b1c01f.659bb",
    "name": "",
    "server": "78040c8.acc89f4",
    "command_name": "Led Brightness",
    "command": "set_led_b",
    "commandType": "miio_cmd",
    "payload": "payload",
    "payloadType": "msg",
    "x": 1200,
    "y": 880,
    "wires": []
  },
  {
    "id": "177bba93.115c85",
    "type": "miio-humidifier-output",
    "z": "a3b1c01f.659bb",
    "name": "",
    "server": "78040c8.acc89f4",
    "command_name": "Limit Humidity",
    "command": "set_limit_hum",
    "commandType": "miio_cmd",
    "payload": "payload",
    "payloadType": "msg",
    "x": 1200,
    "y": 640,
    "wires": []
  },
  {
    "id": "ff94d87c.da38c8",
    "type": "miio-humidifier-output",
    "z": "a3b1c01f.659bb",
    "name": "",
    "server": "78040c8.acc89f4",
    "command_name": "Mode",
    "command": "set_mode",
    "commandType": "miio_cmd",
    "payload": "payload",
    "payloadType": "msg",
    "x": 1170,
    "y": 460,
    "wires": []
  },
  {
    "id": "373b5cba.078434",
    "type": "miio-humidifier-output",
    "z": "a3b1c01f.659bb",
    "name": "",
    "server": "62cd30be.c0e1",
    "command_name": "homekit",
    "command": "homekit",
    "commandType": "homekit",
    "payload": "payload",
    "payloadType": "msg",
    "x": 1180,
    "y": 240,
    "wires": []
  },
  {
    "id": "78040c8.acc89f4",
    "type": "miio-humidifier-server",
    "z": "",
    "name": "",
    "ip": "192.168.1.40",
    "token": "9761f43db2f2cebf128bb81c1fb75ffd",
    "polling": "10"
  },
  {
    "id": "80c270f3.b5484",
    "type": "homekit-bridge",
    "z": "",
    "bridgeName": "MacTest2",
    "pinCode": "111-11-111",
    "port": "",
    "allowInsecureRequest": false,
    "manufacturer": "Default Manufacturer",
    "model": "Default Model",
    "serialNo": "Default Serial Number",
    "customMdnsConfig": false,
    "mdnsMulticast": true,
    "mdnsInterface": "",
    "mdnsPort": "",
    "mdnsIp": "",
    "mdnsTtl": "",
    "mdnsLoopback": true,
    "mdnsReuseAddr": true,
    "allowMessagePassthrough": true
  },
  {
    "id": "569fc258.a9b43c",
    "type": "ui_group",
    "z": "",
    "name": "Test",
    "tab": "988c3e1e.593ea",
    "disp": true,
    "width": "8",
    "collapse": false
  },
  {
    "id": "62cd30be.c0e1",
    "type": "miio-humidifier-server",
    "z": "",
    "name": "",
    "ip": "192.168.1.40",
    "token": "9761f43db2f2cebf128bb81c1fb75ffd",
    "polling": "10"
  },
  {
    "id": "988c3e1e.593ea",
    "type": "ui_tab",
    "z": "",
    "name": "Humiitifier",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]